.hi-title {
}

.hi-title-error {
	font-weight: bold;
	color: #ff4545;
	font-family: 'Visby';
}

.hi-title-primary {
	font-weight: bold;
	color: #f2910a;
}

.hi-title-secondary {
	font-weight: 500;
	color: #808080;
}

.hi-title-thin {
	letter-spacing: 2.8px;
	text-transform: uppercase;
	color: #808080;
	font-weight: lighter;
}

.hi-title-bold {
	font-weight: bold;
}

.hi-title-link {
	letter-spacing: 2.8px;
	text-transform: uppercase;
	color: #d13057;
	cursor: pointer;
}

.hi-title-pointer {
	cursor: pointer;
}

.hi-title-main {
	text-align: center;
	margin-top: 40px;
	margin-bottom: 8px;
	font-size: 4rem;
	font-weight: 500;
	color: #fff;
}

.hi-title-sub {
	text-align: center;
	margin-top: 0;
	margin-bottom: 33px;
	font-size: 1.6rem;
	font-weight: normal;
	color: #fff;
}

.hi-title-xs {
	font-size: 1.2rem;
}

.hi-title-sm {
	font-size: 1.4rem;
}

.hi-title-sm {
	font-size: 1.6rem;
}

.hi-title-md {
	font-size: 1.8rem;
}

.hi-title-lg {
	font-size: 2rem;
}

.hi-title-xl {
	font-size: 2.4rem;
	line-height: 1.35;
}

.hi-title-xxl {
	font-size: 4rem;
	line-height: 1.2;
}

.hi-title-xxxl {
	font-size: 6rem;
	line-height: 1.2;
}
