.hi-text {
	p:last-child {
		margin-bottom: 0;
	}
}

.hi-text-primary {
	color: #f2910a;
}

.hi-text-bold {
	font-weight: 500;
}

.hi-text-extrabold {
	font-weight: 700;
}

.hi-text-sm {
	font-size: 0.8rem;
	line-height: 1rem;
}

.hi-text-sm {
	font-size: 1rem;
	line-height: 1.2rem;
}

.hi-text-md {
	font-size: 1.2rem;
	line-height: 1.4rem;
}

.hi-text-lg {
	font-size: 1.4rem;
}

.hi-text-xl {
	font-size: 1.6rem;
}

.hi-text-xxl {
	font-size: 2rem;
}

.hi-text-xxxl {
	font-size: 2.4rem;
}
